

.App {
  padding: 20px;
  text-align: center;
  color: white;
  background-color: #474947;
  min-height: 100vh;
}

.login {
  text-align: center;
  color: white;
  background-color: #474947;
  min-height: 100vh;
}




